<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

 <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <i class="fas fa-code"></i> TechBlog
    </div>
    <ul class="navbar-menu">
      <li class="navbar-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
      <li class="navbar-item"><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
      <li class="navbar-item"><a href="/profile"><i class="fas fa-user"></i> Profile</a></li>
    </ul>
  </div>
</nav>

  {{{body}}}
</body>
</html>
